.progress {
  height: 5px !important;
}
.progress-bar-danger {
  background-color: #e90f10;
}
.progress-bar-warning {
  background-color: #ffad00;
}
.progress-bar-sufficient {
  background-color: #d9d919d7;
}
.progress-bar-success {
  background-color: #02b502;
}
.fa-circle {
  font-size: 6px;
}
.fa-check {
  color: #02b502;
}
