<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YelpCamp</title>
  </head>

  <body>
    <main>
      <div>
        <div>
          <div>
            <h3>YelpCamp</h3>
            <p>Hi <%= username %>,</p>
            <p>
              We received a request to reset your YelpCamp password. Use the
              link below to set up a new password for your account. If you
              ignore this message, your password will not be changed. If you
              didn't request a password reset, ignore this email and the link
              will expire on its own.
            </p>
            <a href="<%= url %> ">Reset Password</a>
            <p>The link is active for 10 minutes only.</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
